body {
  font-family: Helvetica;

  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
}

.container .form-container {
  width: 500px;
  background-color: rgb(22, 216, 216);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: skyblue;
  border-radius: 30px;


}

input[type=text],
input[type=password],
input[type=email],
input[type=confirmpassword]

{
  border: none;
  background: lightwhite;
  margin-left: 15px;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;

}


h1 {
  margin-left: 15px;
}

.container label {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
}

input[type=text]:focus,
input[type=password]:focus {

  outline: none;
  color: rgb(0, 0, 0);
}

.login-btn {
  background-color: rgb(23, 174, 225);
  color: rgb(21, 15, 15);
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: 100px;
  border-radius: 25px;
  height: 40px;
  margin-bottom: 40%;
  margin-left: 40%;
  margin-top: 10px;

}

.registerbtn:hover {
  background-color: rgb(10, 85, 110);
}

@media only screen and (max-width: 768px) {

  .registerbtn {
    margin-left: 35%;

  }
}